.formulario{
  background-color:rgb(35, 149, 25) ;
  padding-top: 50px;
  padding-left: 75px;
  padding-bottom: 50px;
 
  margin-left: 400px;
  margin-right: 500px;
  border: rgb(189, 218, 228) solid 15px;
  border-radius: 15px;


}
label{
    display: inline-block;
    width: 80px;
    padding-top: 5px;
    color: white;
    }

input{
    border: solid red 2px;
   
}
.title{
    text-align: left;
    color: white;
   
}
#enviar{
    border: none;
}
